{% extends 'common/base.html' %} {% load static %} {% block page_title %}
{{page_title}} {% endblock page_title %} {% block custom_css %}
<style>
  .invalid {
    font-size: 15px;
    color: red;
  }
  .valid {
    font-size: 15px;
    color: green;
  }
</style>
{% endblock custom_css %} {% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">{{page_title}}</h3>
          </div>

          {% include "common/form_template.html" with messages=messages form=form button_text="Add Student" %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block custom_js %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailInput = document.getElementById("id_email");
    const submitButton = document.querySelector('button[type="submit"]');
    const token = document.querySelector(
      'input[name="csrfmiddlewaretoken"]'
    ).value;

    const messageSpan = document.createElement("span");
    emailInput.insertAdjacentElement("afterend", messageSpan);

    submitButton.disabled = true;

    emailInput.addEventListener("keyup", () => {
      const email = emailInput.value;

      if (isValidEmail(email)) {
        fetch("{% url 'check_email_availability' %}", {
          method: "POST",
          body: JSON.stringify({ email: email }),
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": token,
          },
        })
          .then((res) => res.text())
          .then((res) => {
            const isAvailable = res === "True";
            submitButton.disabled = !isAvailable;

            messageSpan.className = `${
              isAvailable ? "text-success " : "text-danger "
            }text-xs`;
            messageSpan.textContent = isAvailable
              ? "Email address is available"
              : "Email already exists";
          })
          .catch(() => {
            messageSpan.className = "alert alert-warning email_error";
            messageSpan.textContent = "Internal server error";
            submitButton.disabled = true;
          });
      } else {
        submitButton.disabled = true;
        messageSpan.className = "text-danger text-xs";
        messageSpan.textContent =
          "Please enter a valid student email (e.g., 19ituos001@ddu.ac.in)";
      }
    });

    function isValidEmail(email) {
      const regex = /^\d{2}[a-zA-Z]{5}\d{3}@ddu\.ac\.in$/;
      return regex.test(email);
    }
  });
</script>
{% endblock custom_js %}
