{% extends 'common/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Course</th>
                  <th>Batch</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for student in all_students %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ student.first_name }} {{ student.last_name }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.student.course.name }}</td>
                  <td>{{ student.student.batch.start_year.year }} - {{ student.student.batch.end_year.year }}</td>
                  <td>
                    <a
                      href="{% url 'edit_student' student.student.id %}"
                      class="btn btn-info"
                      >Edit</a>
                    &#8195;
                    <a
                      href="{% url 'delete_student' student.student.id %}"
                      class="btn btn-danger"
                      onclick="return confirm('Are you sure about this?')"
                      >Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
