{% extends 'common/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body" style="overflow-x: auto;">
            <table class="table table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Course</th>
                  {% if user.user_type == '1' %}
                    <th>Actions</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% if not students %}
                  {% include 'common/no_content.html' with content='students' %}
                {% else %}
                  {% for student in students %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student }}</td>
                    {% with email=student.email %}
                    <td>
                      <a href="mailto:{{email}}" class="btn btn-default btn-sm">
                        <i class="fa fa-envelope"></i>
                        <span>{{email}}</span>
                      </a>
                    </td>
                    {% endwith %}
                    <td>{{ student.gender }}</td>
                    <td>{{ student.student.course.name }}</td>
                    {% if user.user_type == '1' %}
                      <td>
                        <a
                        href="{% url 'edit_student' student.student.id %}"
                        class="btn btn-info btn-sm"
                        >Edit</a>
                      &#8195;
                      <a
                        href="{% url 'delete_student' student.student.id %}"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure about this?')"
                        >Delete</a>
                      </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <a 
              {% if user.user_type == '1' %}
              href="{% url 'hod_view_all_batches' %}" 
              {% else %}
              href="{% url 'view_all_batches' %}" 
              {% endif %}
              class="btn btn-success btn-sm btn-block"
            >Back to all batches</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
